<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="folder == 'distribution'">Distribución</ion-title>
    <ion-title *ngIf="folder == 'probability'">Probabilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }} LAFOLDER</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <!-- <strong class="capitalize">{{ folder }} EFE</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <app-distribution *ngIf="folder == 'distribution'"></app-distribution>
    <app-probability *ngIf="folder == 'probability'"></app-probability>
    <!-- <div #myDiv></div> -->
  </div>
</ion-content>
